<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Da Michele</title>
    <link rel="icon" href="imgs/pizza_icon.png">
    <link rel="stylesheet" href="styles/pizza-styles.css">
    <script src="js/pizza.js" defer></script>
</head>
<body><main>
    <header>
    <img src= "imgs/LOGO-DA-MICHELE.png" alt="Pizza Da Michele Logo">
    <h1> Welcome to Pizza Da Michele</h1>
    <h2> Serving the best pizza in Napoli since 1870</h2>
    <hr>
    <p> come check us out!!</p>
    <a id="contact-button" href="/contact-us" role="button">Contact Us</a>
    </header>
    <form id="pizza-form" action="/submit-order" method="post">
        <!-- Contact Info -->
    <fieldset>
        <legend>Contact Information</legend>
        <label for="fname">First Name:</label>
        <span class="err" id="err-fname">First Name Required</span>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name:</label>
        <span class="err" id="err-lname">Last Name Required</span>
        <input type="text" id="lname" name="lname">
        <label for="email">Email:</label>
        <span class="err" id="err-email">Email Required</span>
        <input type="email" id="email" name="email">
    </fieldset>
    <fieldset>
        <legend>Select Pickup or Delivery</legend>
         <span class="err" id="err-pickup">Selection Required</span>
        <label for="pickup">Pickup</label>
        <input type="radio" id="pickup" name="method" value="pickup" >
        <label for="delivery">Delivery</label>
        <input type="radio" id="delivery" name="method" value="delivery">
    </fieldset>

    <fieldset>
        <legend>Select Toppings</legend>
        <label for="pepperoni">Pepperoni
        <input type="checkbox" id="pepperoni" name="toppings[]" value="pepperoni"></label>
        <label for="mushrooms">Mushrooms
        <input type="checkbox" id="mushrooms" name="toppings[]" value="mushrooms"></label>
        <label for="olives">Olives
        <input type="checkbox" id="olives" name="toppings[]" value="olives"></label>
        <label for="artichokes">Artichokes
        <input type="checkbox" id="artichokes" name="toppings[]" value="artichokes"></label>
        <label for="onions">Onions
        <input type="checkbox" id="onions" name="toppings[]" value="onions"></label>
        <label for="chicken">Chicken
        <input type="checkbox" id="chicken" name="toppings[]" value="chicken"></label>
        <label for="peppers">Jalapeno Peppers
        <input type="checkbox" id="peppers" name="toppings[]" value="peppers"></label>
        
    </fieldset>

     <fieldset>
        <legend>Pizza Size</legend>
        <select id="size" name="size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="extra-large">Extra Large</option>
        </select>
    </fieldset>
    <!-- Comment Section -->
     <label for="comment"> Comments/Instructions:</label>
     <textarea id="comment" name="comment" placeholder="Any special requests?"></textarea>

     <!-- Discount checkbox -->
     <label for="discount">
     <input type="checkbox" id="discount" name="discount">Check to sign up for discounts!</label>

    <!-- Submit Button -->
     <button type="submit" id="order-button" role="button">Place Order</button>
    </form>
    </main>
</body>
</html>
