*{
    box-sizing: border-box;
    color: rgb(87, 49, 0);
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(255, 167, 52);


}
main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    padding: 1rem 1rem 2rem 1rem;
}
header{
    background-color: rgb(255, 238, 204);
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}
header img{
    float: right;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}
#contact-button{
    border: none;
    border-color: rgb(255, 145, 0);
    padding: 10px 20px;
    background-color: rgb(255, 167, 52);
    color: rgb(87, 49, 0);
    text-decoration: none;
   
}
legend{
    color:rgb(87, 49, 0);
    font-variant: small-caps;
    font-size: 1.5rem;
    padding: 0 2rem;
 }
 fieldset{
    border: 2px solid rgb(255, 145, 0);
    border-radius: .25rem;
    margin: 2rem 0;
    padding: 1rem;
    background-color: rgb(255, 238, 204);
 }
 label{
    display:block;
    padding-bottom: .2rem;
    text-align: left;
    margin-right: 10px;
 }
 .toppings{
    display:inline-block;
    margin-right: 15px;
 }
 
 input[type="text"], textarea, select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(255, 145, 0);
    border-radius: 4px;
    resize: vertical;
    background-color:rgb(255, 238, 204);
 }
