*{
    box-sizing: border-box;
    color: green;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgba(139, 0, 0, 0.388);

}
main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    padding: 0 1rem 2rem 1rem;
}
header{
    background-color: whitesmoke;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}